header{
  width: 100%;
  height: 98px;
  background-image: linear-gradient(to right, #082A6B , #006FBA);
}
.title{
  color: #ffff;
  padding: 31px 30px;
  font-size: 25px;
}
.x1{
  margin:  -47px  0 0 798px ;
  transform: rotate(-45deg) ;
  width: 22px;
  height: 4px;
  background: white;
  position: absolute;
}
.x2{
  margin:  -47px  0 0 798px ;
  transform: rotate(45deg) ;
  width: 22px;
  height: 4px;
  background: white;
  position: absolute;
}
