<div [ngClass]="{wrapper2:displayToggle,
  wrapper:!displayToggle}">
  <headercomp class="hd"/>
  <app-translatebox class="tr"/>
  <app-translatebox [ngClass]="{trr:displayToggle,
  tr2:!displayToggle}"  />
  <add-btn class="add" (click)= "displayToggle = !displayToggle"/>
  <check-box class="ch"  [desc]="inactive" />
  <check-box class="ch1"  [desc]="default" />
  <button-component class="btn" (click)="toast()" [desc]="save" />
  <button-component  class="btnn"  [desc]="cancel" />
  <div class="save">{{sucsess}}</div>

</div>

