.wrapper{
  max-width: 840px;
  max-height: 857px;
  display: grid;
  grid-template-columns:1fr 1fr  1fr;
  grid-template-rows: 100px 1fr 60px 150px ;

  grid-template-areas:
  'h h h'
  'b b b'
  'ch ch1 add'
  'btn btnn tbnn'



;
}

.wrapper2{
  max-width: 840px;
  max-height: 1557px;
  display: grid;
  grid-template-columns: 280px 280px 280px;
  grid-template-rows: 100px 1fr 1fr 60px 150px ;
  grid-template-areas:
  'h h h'
  'b b b'
  'b22 b22 b22'
  'ch ch1 add'
  'btn btnn tbnn'
;
}

.hd{
  grid-area: h;
}
.tr{

  grid-area: b;
  width: 100%;
  height: 100%;
}
.tr2{
  grid-area: b22;
  width: 100%;
  height: 100%;
  display: none;
}
trr{
  margin-left: -50px;
  grid-area: b22;
  width: 100%;
  height: 100%;
}

.add{
  grid-area: add;
  margin-left: 120px;
}
.ch{
  grid-area: ch;
  margin-top: 30px;
  margin-left: 22px;
}
.ch1{
  grid-area: ch1;
  margin-top: 30px;
}
.btn{
  grid-area: btn;
  margin-top: 55px;
  margin-left: 22px;

}
.btnn{
  grid-area: btnn;
  margin-top: 55px;
}
.save{
  width: 150px;
  height: 200px;
  position: absolute;
  margin: 350px 300px;
  font-size: 30px;
}
